{{set root='.'}}
<!DOCTYPE html>
<html lang="{{lang}}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<title>한빛 팬션</title>

	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="apple-touch-icon" href="{{root}}/apple-touch-icon.png">
	<link rel="stylesheet" href="{{root}}/plugins/normalize/normalize.css">
	<link rel="stylesheet" href="{{root}}/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{root}}/plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{root}}/css/frequent-question.css">
	<script src="{{root}}/plugins/modernizr/modernizr-2.8.3.min.js"></script>
</head>
<body>
<div class="hp-container">
	<div class="title-row">
		<div class="back-history">
			<i class="fa fa-angle-left fa-2x"></i>
		</div>
		<div class="frequence-title">
			<h2>자주묻는 질문</h2>
		</div>
	</div>
	<div class="question-answer">
		<div class="question-row">
			<p class="question-start"><i class="fa fa-quora"></i>.회원이 되면 어떤 혜택이 있나요?</p>
			<i class="row-icon fa fa-angle-down fa-2x"></i>
			<div class="answer-row">
				<p>결제금액의 2%를 젹립과 쿠폰사용, 이벤트 참여 등 한빛펜션에서 제공하는 다얀한 혜택을 받으실수 있습니다</p>
			</div>
		</div>
		<div class="question-row">
			<p class="question-start"><i class="fa fa-quora"></i>.회원 가입을 해야만 예약이 가능한가요?</p>
			<i class="row-icon fa fa-angle-down fa-2x"></i>
			<div class="answer-row">
				<p>회원가입을 하지 않고 비회원으로도 예약은 가능합니다. 단, 비회원 예약시에는 쿠폰사용, 2%적립 및 한빛 펜션의 이벤트를 이용하실 수 없습니다.</p>
			</div>
		</div>
		<div class="question-row">
			<p class="question-start"><i class="fa fa-quora"></i>.예약은 어떻게 하나요?</p>
			<i class="row-icon fa fa-angle-down fa-2x"></i>
			<div class="answer-row">
				<p>우리펜션은 24시간 언제든지 예약이 가능하며 온라인, 모바일, 안드로이드 우리펜션 앱을 통에 예약진행할 수 있습니다.</p>
			</div>
		</div>
		<div class="question-row">
			<p class="question-start"><i class="fa fa-quora"></i>.예약 확정은 언제 되나요?</p>
			<i class="row-icon fa fa-angle-down fa-2x"></i>
			<div class="answer-row">
				<p>결제 완료가 예약확정 입니다. <br>무통장으로 선택 시 1시간 이내로 입금이 되어야 완료되며 입금이 안되면 취소될 수 있습니다. 오후 6시부터 다음날 오전 9시까지는 입금 확인이 어려우므로 익일 예약가능여부확인 후 예약 확정입니다. </p>
			</div>
		</div>

	</div>
{{> footer jsName='frequent-question'}}
