{{set root="."}}
{{> header cssName="main"}}
	<div class="hbps-top">
		<div class="main_desc">
			내가 찾는 모든 펜션
		</div>
		<div class="main_title">
			한빛펜션
		</div>
	</div>
	<div class="hbps-content">
		<section>
			<section class="btn_wrap">
				<div class="region_search">
					<i class="fa fa-search"></i>
					<button type="button" class="btn_region_search btn">지역을 선택해 주세요
						<div class="region_select">
							<div class="title_region">
								<h2 class="title-control">지역 선택</h2>
							</div>
							<ul>
								<li>성공적입니다.</li>
							</ul>
							<input type="button" value="확인" class="close-the-layer">
						</div>
					</button>
				</div>
				<div class="reservation_box">
					<div class="reservation_date">
						<div class="chk_in">
							<i class="fa fa-calendar"></i>
							<button type="button" class="btn_chk_in btn">4월11일(화)</button>
						</div>
						<div class="chk_out">
							<i class="fa fa-calendar"></i>
							<button type="button" class="btn_chk_out btn">4월12일(수)</button>
						</div>
					</div>
				</div>
				<div class="reservation_box">
					<div class="reservation_date">
						<div class="chk_in">
							<i class="fa fa-user-o"></i>
							<button type="button" class="btn_chk_in btn">2명</button>
						</div>
						<div class="chk_out">
							<i class="fa fa-home"></i>
							<button type="button" class="btn_chk_out btn">전체펜션</button>
						</div>
					</div>
				</div>
			</section>
			<section>
				<div class="search_box">
					<button type="button" class="btn_search btn">검 색</button>
				</div>
				<div class="reservation_list_box">
					<button type="button" class="btn_reservation_list btn">예약내역 확인하기</button>
				</div>
		</section>
	</div>
</div>

<script>
	var global = {
		root: "{{root}}",
	};
</script>
<script src="{{root}}/plugins/requirejs/require.min.js"></script>
<script src="{{root}}/js/require.config.js"></script>
<script src="{{root}}/js/main.js"></script>
</body>
</html>
