{{set root="."}}
{{> header cssName="main"}}
	<div class="hbps-top">
		<div class="main_desc">
			내가 찾는 모든 펜션
		</div>
		<div class="main_title">
			한빛펜션
		</div>
	</div>
	<div class="hbps-content">
		<section>
			<section class="btn_wrap">
				<div class="region_search">
					<i class="fa fa-search"></i>
					<button type="button" class="btn_region_search btn">지역을 선택해 주세요
						<div class="region_select">
							<div class="popup-control">
							<div class="title_region">
								<h2 class="title-control">지역 선택</h2>
							</div>
							<ul class="sido-control">
								<li id="sd001" class="sd">경기/인천
									<ul class="gg-control">
										<li id="g001" class="gg">가평군</li>
										<li id="g002" class="gg">양평군</li>
										<li id="g003" class="gg">강화도</li>
										<li id="g004" class="gg">포천시</li>
										<li id="g005" class="gg">용인시</li>
										<li id="g006" class="gg">남양주시</li>
										<li id="g007" class="gg">대부도</li>
										<li id="g008" class="gg">여주시</li>
										<li id="g009" class="gg">파주시</li>
										<li id="g0010" class="gg">영흥도</li>
										<li id="g0011" class="gg">선재도</li>
										<li id="g0012" class="gg">제부도</li>
										<li id="g0013" class="gg">을왕리</li>
										<li id="g0014" class="gg">옹진군</li>
										<li id="g0015" class="gg">연천군</li>
										<li id="g0016" class="gg">양주시</li>
										<li id="g0017" class="gg">안성시</li>
										<li id="g0018" class="gg">광주시</li>
										<li id="g0019" class="gg">안양시</li>
										<li id="g0020" class="gg">이천시</li>
										<li id="g0021" class="gg">고양시</li>
									</ul>
								</li>
								<li id="sd002" class="sd">강원
									<ul class="gg-control">
										<li id="g0022" class="gg">평창군</li>
										<li id="g0023" class="gg">강릉시</li>
										<li id="g0024" class="gg">홍천군</li>
										<li id="g0025" class="gg">양양군</li>
										<li id="g0026" class="gg">춘천시</li>
										<li id="g0027" class="gg">횡성군</li>
										<li id="g0028" class="gg">정선군</li>
										<li id="g0029" class="gg">영월군</li>
										<li id="g0030" class="gg">원주시</li>
										<li id="g0031" class="gg">속초시</li>
										<li id="g0032" class="gg">고성군</li>
										<li id="g0033" class="gg">화천군</li>
										<li id="g0034" class="gg">인제군</li>
										<li id="g0035" class="gg">동해시</li>
										<li id="g0036" class="gg">삼척시</li>
										<li id="g0037" class="gg">태백시</li>
										<li id="g0038" class="gg">철원군</li>
									</ul>
								</li>
								<li id="sd003" class="sd">충청북도
									<ul class="gg-control">
										<li id="g001" class="gg">가평군</li>
										<li id="g002" class="gg">양평군</li>
									</ul>
								</li>
								<li id="sd004" class="sd">충청남도
									<ul class="gg-control">
										<li id="g001" class="gg">가평군</li>
										<li id="g002" class="gg">양평군</li>
									</ul></li>
								<li id="sd005" class="sd">전라북도
									<ul class="gg-control">
										<li id="g001" class="gg">가평군</li>
										<li id="g002" class="gg">양평군</li>
									</ul></li>
								<li id="sd006" class="sd">전라남도
									<ul class="gg-control">
										<li id="g001" class="gg">가평군</li>
										<li id="g002" class="gg">양평군</li>
									</ul>
								</li>
								<li id="sd007" class="sd">경상북도
									<ul class="gg-control">
										<li id="g001" class="gg">가평군</li>
										<li id="g002" class="gg">양평군</li>
									</ul>
								</li>
								<li id="sd008" class="sd">경상남도
									<ul class="gg-control">
										<li id="g001" class="gg">가평군</li>
										<li id="g002" class="gg">양평군</li>
									</ul></li>
								<li id="sd009" class="sd">제주도
									<ul class="gg-control">
										<li id="g001" class="gg">가평군</li>
										<li id="g002" class="gg">양평군</li>
									</ul>
								</li>
							</ul>
						</div>
						</div>
					</button>
				</div>
				<div class="reservation_box">
					<div class="reservation_date">
						<div class="chk_in">
							<i class="fa fa-calendar"></i>
							<button type="button" class="btn_chk_in btn">4월11일(화)</button>
						</div>
						<div class="chk_out">
							<i class="fa fa-calendar"></i>
							<button type="button" class="btn_chk_out btn">4월12일(수)</button>
						</div>
					</div>
				</div>
				<div class="reservation_box">
					<div class="reservation_date">
						<div class="chk_in">
							<i class="fa fa-user-o"></i>
							<button type="button" class="btn_chk_in btn">2명</button>
						</div>
						<div class="chk_out">
							<i class="fa fa-home"></i>
							<button type="button" class="btn_chk_out btn">전체펜션</button>
						</div>
					</div>
				</div>
			</section>
			<section>
				<div class="search_box">
					<button type="button" class="btn_search btn">검 색</button>
				</div>
				<div class="reservation_list_box">
					<button type="button" class="btn_reservation_list btn">예약내역 확인하기</button>
				</div>
		</section>
	</div>
</div>

<script>
	var global = {
		root: "{{root}}",
	};
</script>
<script src="{{root}}/plugins/requirejs/require.min.js"></script>
<script src="{{root}}/js/require.config.js"></script>
<script src="{{root}}/js/main.js"></script>
</body>
</html>
