{{set root="."}}
{{> header cssName="main"}}
	<div class="hbps-content">
		<section>
			<div class="main_desc">
				내가 찾는 모든 펜션
			</div>
			<div class="main_title">
				한빛펜션
			</div>
		</section>
		<section>
			<section class="btn_wrap">
				<div class="region_search">
					<i class="fa fa-search"></i>
					<button type="button" class="btn_region_search btn" value="지역을 선택해주세요"><span>지역을 선택해주세요</span>
						<div class="region_select">
							<div class="popup-control">
							<div class="title_region">
								<h2 class="title-control">지역 선택</h2>
							</div>
							<ul class="sido-control">
								<li id="sd001" class="sd active" value="경기/인천">경기/인천
									<ul class="gg-control">
										<li id="g001" class="gg">가평군</li>
										<li id="g002" class="gg">양평군</li>
										<li id="g003" class="gg">강화도</li>
										<li id="g004" class="gg">포천시</li>
										<li id="g005" class="gg">용인시</li>
										<li id="g006" class="gg">남양주시</li>
										<li id="g007" class="gg">대부도</li>
										<li id="g008" class="gg">여주시</li>
										<li id="g009" class="gg">파주시</li>
										<li id="g0010" class="gg">영흥도</li>
										<li id="g0011" class="gg">선재도</li>
										<li id="g0012" class="gg">제부도</li>
										<li id="g0013" class="gg">을왕리</li>
										<li id="g0014" class="gg">옹진군</li>
										<li id="g0015" class="gg">연천군</li>
										<li id="g0016" class="gg">양주시</li>
										<li id="g0017" class="gg">안성시</li>
										<li id="g0018" class="gg">광주시</li>
										<li id="g0019" class="gg">안양시</li>
										<li id="g0020" class="gg">이천시</li>
										<li id="g0021" class="gg">고양시</li>
									</ul>
								</li>
								<li id="sd002" class="sd" value="강원">강원
									<ul class="gg-control">
										<li id="g0022" class="gg">평창군</li>
										<li id="g0023" class="gg">강릉시</li>
										<li id="g0024" class="gg">홍천군</li>
										<li id="g0025" class="gg">양양군</li>
										<li id="g0026" class="gg">춘천시</li>
										<li id="g0027" class="gg">횡성군</li>
										<li id="g0028" class="gg">정선군</li>
										<li id="g0029" class="gg">영월군</li>
										<li id="g0030" class="gg">원주시</li>
										<li id="g0031" class="gg">속초시</li>
										<li id="g0032" class="gg">고성군</li>
										<li id="g0033" class="gg">화천군</li>
										<li id="g0034" class="gg">인제군</li>
										<li id="g0035" class="gg">동해시</li>
										<li id="g0036" class="gg">삼척시</li>
										<li id="g0037" class="gg">태백시</li>
										<li id="g0038" class="gg">철원군</li>
									</ul>
								</li>
								<li id="sd003" class="sd" value="충청북도">충청북도
									<ul class="gg-control">
										<li id="g0039" class="gg">단양군</li>
										<li id="g0040" class="gg">제천시</li>
										<li id="g0041" class="gg">충주시</li>
										<li id="g0042" class="gg">괴산군</li>
										<li id="g0043" class="gg">청주시</li>
										<li id="g0044" class="gg">보은군</li>
										<li id="g0045" class="gg">청원군</li>
										<li id="g0046" class="gg">진천군</li>
									</ul>
								</li>
								<li id="sd004" class="sd" value="충청남도">충청남도
									<ul class="gg-control">
										<li id="g0047" class="gg">안면도</li>
										<li id="g0048" class="gg">보령시</li>
										<li id="g0049" class="gg">서산시</li>
										<li id="g0050" class="gg">서천군</li>
										<li id="g0051" class="gg">대전시</li>
										<li id="g0052" class="gg">아산시</li>
										<li id="g0053" class="gg">예산군</li>
										<li id="g0054" class="gg">금산군</li>
										<li id="g0055" class="gg">논산시</li>
										<li id="g0056" class="gg">당진군</li>
										<li id="g0057" class="gg">세종시</li>
										<li id="g0058" class="gg">부여군</li>
									</ul></li>
								<li id="sd005" class="sd" value="전라북도">전라북도
									<ul class="gg-control">
										<li id="g0059" class="gg">전주시</li>
										<li id="g0060" class="gg">부안군</li>
										<li id="g0061" class="gg">무주군</li>
										<li id="g0062" class="gg">고창군</li>
										<li id="g0063" class="gg">장수군</li>
										<li id="g0064" class="gg">진안군</li>
										<li id="g0065" class="gg">남원시</li>
										<li id="g0066" class="gg">완주군</li>
										<li id="g0067" class="gg">정읍시</li>
									</ul></li>
								<li id="sd006" class="sd" value="전라남도">전라남도
									<ul class="gg-control">
										<li id="g0068" class="gg">여수시</li>
										<li id="g0069" class="gg">순천시</li>
										<li id="g0070" class="gg">구례군</li>
										<li id="g0071" class="gg">광양시</li>
										<li id="g0072" class="gg">완도군</li>
										<li id="g0073" class="gg">해남군</li>
										<li id="g0074" class="gg">영광군</li>
										<li id="g0075" class="gg">고흥군</li>
										<li id="g0076" class="gg">곡성군</li>
										<li id="g0077" class="gg">장성군</li>
										<li id="g0078" class="gg">보성군</li>
										<li id="g0079" class="gg">장흥군</li>
									</ul>
								</li>
								<li id="sd007" class="sd" value="경상북도">경상북도
									<ul class="gg-control">
										<li id="g0080" class="gg">경주시</li>
										<li id="g0081" class="gg">포항시</li>
										<li id="g0082" class="gg">영덕군</li>
										<li id="g0083" class="gg">울진군</li>
										<li id="g0084" class="gg">문경시</li>
										<li id="g0085" class="gg">상주시</li>
										<li id="g0086" class="gg">영주시</li>
										<li id="g0087" class="gg">청도군</li>
										<li id="g0088" class="gg">성주군</li>
										<li id="g0089" class="gg">안동시</li>
										<li id="g0090" class="gg">경산시</li>
										<li id="g0091" class="gg">청송군</li>
										<li id="g0092" class="gg">의성군</li>
									</ul>
								</li>
								<li id="sd008" class="sd" value="경상남도">경상남도
									<ul class="gg-control">
										<li id="g0093" class="gg">거제도</li>
										<li id="g0094" class="gg">남해군</li>
										<li id="g0095" class="gg">통영시</li>
										<li id="g0096" class="gg">울산시</li>
										<li id="g0097" class="gg">양산시</li>
										<li id="g0098" class="gg">하동군</li>
										<li id="g0099" class="gg">해운대구</li>
										<li id="g00100" class="gg">산청군</li>
										<li id="g00101" class="gg">밀양시</li>
										<li id="g00102" class="gg">고성군</li>
										<li id="g00103" class="gg">사천시</li>
										<li id="g00104" class="gg">김해시</li>
										<li id="g00105" class="gg">합천군</li>
										<li id="g00106" class="gg">기장군</li>
									</ul>
								</li>
								<li id="sd009" class="sd" value="제주도">제주도
									<ul class="gg-control">
										<li id="g00107" class="gg">서귀포시</li>
										<li id="g00108" class="gg">제주시</li>
									</ul>
								</li>
							</ul>
						</div>
						</div>
					</button>
				</div>
				<div class="reservation_box">
					<div class="reservation_date">
						<div class="chk_in">
							<i class="fa fa-calendar"></i>
							<input type="date" action="/action_page.php" class="btn_chk_in btn">
						</div>
						<div class="chk_out">
							<i class="fa fa-calendar"></i>
							<input type="date" action="/action_page.php" class="btn_chk_out btn">
						</div>
					</div>
				</div>
				<div class="reservation_box">
					<div class="reservation_date">
						<div class="chk_in">
							<button class="main-select-box03" type="button" id="dropdownMenu1"
									data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
								<i class="fa fa-user-o"></i>
								<ul id="select">
									<li id="placeholder" class="avaliable">
										2명
									</li>
								</ul>
							</button>
							<ul id="myDropdown" class="dropdown-content dropdown-menu" aria-labelledby="dropdownMenu1">
								<li class="count">
									<a href="#RoomforTwo">2명</a>
								</li>
								<li role="separator" class="divider"></li>
								<li class="count">
									<a href="#RoomforThree">3명</a>
								</li>
								<li role="separator" class="divider"></li>
								<li class="count">
									<a href="#RoomforFour">4명</a>
								</li>
							</ul>
							<!--<i class="fa fa-user-o"></i>
                            <button type="button" class="btn_chk_in btn">2명</button>-->
						</div>
						<div class="chk_out">
							<button class="main-select-box04" type="button" id="dropdownMenu2"
									data-toggle="dropdown" aria-haspopup="false" aria-expanded="true">
								<i class="fa fa-home"></i>
								<ul id="select">
									<li class="pension-theme">
										전체 펜션
									</li>
								</ul>
							</button>
							<ul id="myDropdown2" class="dropdown-content2 dropdown-menu" aria-labelledby="dropdownMenu2">
								<li class="count">
									<a class="theme-pension" href="#swim">수영장 펜션</a>
								</li>
								<li role="separator" class="divider"></li>
								<li class="count">
									<a class="theme-pension" href="#spar">스파 펜션</a>
								</li>
								<li role="separator" class="divider"></li>
								<li class="count">
									<a class="theme-pension" href="#workshop">워크샵 펜션</a>
								</li>
							</ul>
							<!--<i class="fa fa-home"></i>
                            <button type="button" class="btn_chk_out btn">전체펜션</button>-->
						</div>
					</div>
				</div>
			</section>
			<section>
				<div class="search_box">
					<button type="button" class="btn_search btn">검 색</button>
				</div>
				<div class="reservation_list_box">
					<button type="button" class="btn_reservation_list btn">예약내역 확인하기
						<div class="client">

						</div>
					</button>
				</div>
		</section>
		</section>
	</div>
</div>

<script>
	var global = {
		root: "{{root}}",
	};
</script>
<script src="{{root}}/plugins/requirejs/require.min.js"></script>
<script src="{{root}}/js/require.config.js"></script>
<script src="{{root}}/js/main.js"></script>
</body>
</html>
