<footer><!--ν‘Έν„° μ‹μ‘-->
</footer>
</div>
<script>
	var global = {
		root: "{{root}}",
	};
</script>

<script src="{{root}}/plugins/requirejs/require.min.js"></script>
<script src="{{root}}/js/require.config.js"></script>
<script src="{{root}}/js/{{jsName}}.js"></script>
</body>
</html>
