<footer>
	<div class="footer-box">
		<div class="policy">
			<ul>
				<li>이용약관</li>
				<li>개인정보 취급방침</li>
				<li>사업자정보확인</li>
			</ul>
		</div>
		<div class="company-info">
			(주)한빛펜션 | 대표: 노상민 <br>
			서울 마포구 백범로 23 거구장 B1 5강의실<br>
			사업자등록번호 | 203-22-57254<br>
			고객센터 | 1253-8253 / inquiry@hanbitpension.com
		</div>
	</div>
</footer>
<nav>
	<div class="footer-nav-box">
		<ul>
			<li>
				<i class="glyphicon glyphicon-search"></i>
				<div class="footer-nav-text">빈방찾기</div>
			</li>
			<li>
				<i class="glyphicon glyphicon-option-horizontal"></i>
				<div class="footer-nav-text">더보기</div>
			</li>
		</ul>
	</div>
</nav>
</div>
<script>
	var global = {
		root: "{{root}}",
	};
</script>

<script src="{{root}}/plugins/requirejs/require.min.js"></script>
<script src="{{root}}/js/require.config.js"></script>
<script src="{{root}}/js/{{jsName}}.js"></script>
</body>
</html>
